.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 3px;
    padding: 0 16px;
    border-radius: 4px;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
}
