.header {
    height: 5rem;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFEFA;
    align-items: center;
    justify-content: end;
    column-gap: 1rem;
    padding: 0 3rem;
    .image {
        height: 40px;    
    }
    .imageWrapper {
        position: relative;
        cursor: pointer;
        .counter {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            background-color: rgb(30, 30, 32);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            font-size: 12px;
            align-items: center;
            justify-content: center;
        }
    }
}