.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalContent {
    font-family: Montserrat, sans-serif;
    width: 550px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 1.5rem;
    margin: 0 3rem;
}

.modalHeader {
    height: 80px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 1.3rem;
    position: relative;
}

.closeBtn {
    color: #37352e;
    position: absolute;
    right: 30px;
    font-size: 35px;
    font-weight: 100;
    padding-inline: 0;
    padding-block: 0;
    line-height: 0;
    top: 48%;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}


.modalText {
    padding: 2.3rem;
    text-align: center;
    line-height: 2;
    font-size: 1.1rem;
}

.btnWrapper {
    display: flex;
    column-gap: 0.6rem;
    justify-content: center;
}

.modalBtn {
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    width: 8rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}