.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 0.7rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-bottom: 1.2rem;
    padding-top: 2rem;
    position: relative;

    .like {
        position: absolute;
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
        right: 1rem;
        top: 1rem;
    }
    

    .imageWrapper {
        position: relative;
        padding: 0 2rem;
        padding-bottom: 2rem;
        justify-content: center;

        .image {
            width: 100%;
            height: 200px;
            object-fit: contain;
        }
        .color {
            box-sizing: border-box;
            width: 1rem;
            height: 1rem;
            position: absolute;
            border: 1px solid black;
            border-radius: 50%;
            bottom: 0;
            left: calc(50% - 1rem);
        }
    }

    .heading {
        text-align: center;
        font-weight: 700;
        color: #8a8a8a;
        margin-top: 30px;
        font-size: 18px;
        padding: 0 1rem;
    }

    .code {
        margin-top: 10px;
        color: #8a8a8a;
    }

    .description {
        margin-top: 20px;
        padding: 1.5rem;
        text-align: center;
    }

    .addingWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: auto;
        .price {
            color: #cc3434;
            font-size: 20px;
            font-weight: 700;
        }
    }
}