.list {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5rem 0;
}

@media (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 993px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 481px) {
    .list {
        grid-template-columns: 1fr;
    }
}