.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalContent {
    background-color: #2e2e31;
    font-family: Montserrat, sans-serif;
    width: 450px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 1.5rem;
    margin: 0 3rem;
}

.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #1e1e20;
    border-radius: 10px;
    width: 85%;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0 2rem;
}

.inputWrapper {
    height: fit-content;
    position:relative;
	margin-bottom: 2.3rem;

    label {
	position:absolute;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-events: none;
    top:-12px;
	font-size:12px;
    }

    input { 
        border:0;
        border-bottom:1px solid #555;  
        background:transparent;
        width:100%;
        font-size: 16px;
        padding: 8px 0 5px 0;
        color:#fff;
    }

    input:focus{
        outline: 0;
        border-bottom: 1px solid white	
    }

    .error {
        pointer-events: none;
        font-size: 0.7rem;
        position: absolute;
        border-radius: 2px;
        padding: 0.1rem 0.3rem;
        bottom: -1.1rem;
        left: 0;
        color: rgb(51, 1, 1);
        background-color: rgb(221, 100, 100);
    }
}